
hello 
<div class="card text-center">
    <!--<div class="card-header">
        User Name-->
        <!--<h2>{{user.name}}</h2>-->
    <!--</div>
    <div class="card-body">
        User EmailAddress-->
        <!--<h2 class="card-title">{{user.emailAddress}}</h2>-->
    <!--</div>-->
    <div class="center">
        <img src="https://video.cgtn.com/news/784d6a4e344d7a4e7751444e314d7a4d…68c4ef0b4c0f69eed2783a8/6878ed54968c4ef0b4c0f69eed2783a8.jpg"; width="200" class="rounded-circle" />
    </div>

</div>

//*ngIf="user"